GXXSyncOA/Web References/OAService/PLMService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:tns="http://localhost/services/PLMService" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://PLM.gxx.com" targetNamespace="http://localhost/services/PLMService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://PLM.gxx.com">
      <xsd:complexType name="ArrayOfPLMVo">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="PLMVo" nillable="true" type="ns1:PLMVo" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PLMVo">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="cpcode" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="cplevel" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="cpname" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="cpx" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="cpzycd" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="createby" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="createdate" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="enddate" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="ftpfile" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="pid" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="projectname" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="projectys" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="sodocno" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="sotype" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="status" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="text" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="workcode" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="xmcy" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="ysmoney" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="zc" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://localhost/services/PLMService">
      <xsd:element name="SaveData">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="in0" nillable="true" type="ns1:ArrayOfPLMVo" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SaveDataResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="ns1:ArrayOfPLMVo" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SaveDataResponse">
    <wsdl:part name="parameters" element="tns:SaveDataResponse" />
  </wsdl:message>
  <wsdl:message name="SaveDataRequest">
    <wsdl:part name="parameters" element="tns:SaveData" />
  </wsdl:message>
  <wsdl:portType name="PLMServicePortType">
    <wsdl:operation name="SaveData">
      <wsdl:input name="SaveDataRequest" message="tns:SaveDataRequest" />
      <wsdl:output name="SaveDataResponse" message="tns:SaveDataResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PLMServiceHttpBinding" type="tns:PLMServicePortType">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveData">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="SaveDataRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SaveDataResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PLMService">
    <wsdl:port name="PLMServiceHttpPort" binding="tns:PLMServiceHttpBinding">
      <wsdlsoap:address location="http://210.21.52.72/services/PLMService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>